{{template "base"}}
<style>
  .logo {
    font-size: 200px;
  }

  .logo2 {
    font-size: 40px;
  }

  .groupName {
    font-size: 90px;
  }

  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }
</style>

<div class=" wrapper ">
  <div class="page">
    <div class="groupHeader container-fluid well">
      <div class="col-sm-3 group-image">
        <img src={{.Image}} class="img-circle" alt="Group Image">
      </div>
      <div class="col-sm-9">
        <h1 class="groupName">{{.Name}}</h1>
      </div>

    </div>
    <div class="col-sm-3">

      <div class="members well">
        <h1><strong>Members:</strong></h1>
        <ul>

          {{range .Members}}
          <li>
            <h3>{{.}}</h3>
          </li>
          {{end}}
        </ul>

      </div>
    </div>
    <div class="col-sm-9">
      <div class="well">
        <h3><strong>Creation Date:</strong> {{.CreationDate}}</h3>
      </div>
      <div class="well">
        <h3><strong>First Album Date:</strong> {{.FirstAlbum}}</h3>
      </div>
      <div class="container-fluid">
        <div class="text-center">

          <h2>Concert Dates</h2>

        </div>
        <div class="row">
          {{range $key, $value:=.Relations.DatesLocation}}
          <div class="col-sm-4">
            <div class="panel panel-default text-center">
              <div class="panel-heading">

                <h3><span class="glyphicon glyphicon-map-marker logo2"></span> {{ $key }}</h3>
              </div>
              <div class="panel-body">
                {{range $date:=$value }}
                <h4><span class="glyphicon glyphicon-calendar"></span> {{$date}}</h4>
                {{end}}
              </div>
            </div>
          </div>


          {{end}}
        </div>
      </div>
    </div>
   
  </div>
</div>


<footer class="footer">
  <div class="container">
    Groupie tracker visualizations<br>
    <a class="footer-text" href='https://01.alem.school/git/dtyuligu'>Diana Tyuligulova</a>
</footer>

</body>
</html>